---
import RootLayout from '../layouts/RootLayout.astro';
import SignIn from '../components/SignIn.astro';
---

<RootLayout>
    <div class="h-screen w-screen flex justify-center items-center">
      <SignIn />
    </div>
</RootLayout>
