---
import RootLayout from '../layouts/RootLayout.astro';
import SignUp from '../components/SignUp.astro';
---

<RootLayout>
    <div class="h-screen w-screen flex justify-center items-center">
      <SignUp />
    </div>
</RootLayout>
