---
import { isBefore } from 'date-fns';
import { format } from 'date-fns-tz';

const { gameTime } = Astro.props;


const time = format(gameTime, 'hh:mm a');
const timeZone = format(gameTime, 'z', { timeZone: 'America/Los_Angeles' });

const hasStarted = isBefore(new Date(), gameTime);
---

<div class="text-xs">
  { hasStarted ? 
    <span class="font-bold">{ time  }</span>
    <span class="pl-1 self-start">{ timeZone }</span>
    :
    <span class="font-bold text-error">Game started</span>
  }
</div>
