---
import { isAfter } from 'date-fns';
import { format } from 'date-fns-tz';

const { gameTime } = Astro.props;


let time = format(gameTime, 'hh:mm a');
let timeZone = format(gameTime, 'z');

if (isAfter(new Date(), gameTime)) {
  time = 'Game Started';
  timeZone = '';
}
---

<div class="text-xs">
  <span class="font-bold">{ time }</span>
  <span class="pl-1 self-start">{ timeZone }</span>
</div>
