---
import RootLayout from './RootLayout.astro';
import NavBar from '../components/NavBar.astro';
import Header from '../components/Header.astro';

const { title } = Astro.props;
---

<RootLayout>
  <NavBar />
  <div class="container container-lg mx-auto">
    <Header title={title} />
    <slot />
  </div>
</RootLayout>
