<html lang="en" data-theme="light">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
		<title>Lockrace</title>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
	</head>
	<body>
    <slot />
	</body>
</html>
